
.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

body,
html {
  /* background-color: green; */
  background: url(https://images.thdstatic.com/productImages/7047b0db-0c8c-48cd-a48f-17b08b982031/svn/reds-pinks-sorbco-tablecloths-cd-tc90rw-64_600.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Ubuntu Mono', sans-serif;
  font-weight: bold;
}



.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 700px;
  background-color: yellow;
  color: black;
  font-size: 50px;
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  color: black;
  height: 400px;
  width: 400px;
}

.square {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 60px;
  border-spacing: 80px;
  background-color: green;
  border-style: solid;
}

.player-one,
.player-two {
  text-align: center;
  justify-content: space-between;
  font-size: 40px;
  height: 100vh;
  width: 325px;
  color: black;
  border-style: solid;
  border-color: red;
  background-color: red;
  align-self: flex-start;
}

.counter  {
  margin-top: 50px;
  font-size: 60px;
}

.hamburger {
  /* background-repeat: no-repeat; */
  background: url(https://www.svgrepo.com/show/43115/burger.svg);

}

.hotdog {
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  background: url(https://www.svgrepo.com/show/14909/hot-dog.svg)
}
